*{
    box-sizing: border-box;
  }
  html{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    padding: 0;
  }
  main{
    margin: 0;
    padding: 0;
  }
  
  #navbar{
    background-color: fb8500;
    font-family: Poppins,sans-serif;
    font-size: 22px;
  margin-bottom: 0px;
  position: fixed;
  }
  
  #navbar>ul>li a{
    text-decoration: none;
    color: black;
    font-weight: 550;
   
  }
  
  @media screen and (min-width:620px) and (max-width:1300px){
    #navbar{
      width: 100%;
      text-align: right;
      padding: 3px;
      margin-bottom: 0; 
    }
  
    #navbar>ul{
      list-style-type: none;
      text-decoration: none;
      color: black;
    }
  
    #navbar>ul li{
      display: inline;
      padding: 15px;
      margin: 10px; 
      text-decoration: none;
      color: black;
  
    }
  }
  
  @media only screen and (max-width:619px){
    #navbar{
      width: 100%;
      text-align: center;
      padding: 15px;
      margin-bottom: 0px;
    }
    #navbar>ul{
      list-style-type: none;
      text-decoration: none;
      color: black;
      margin-bottom:15px;
    
  
    }
  
    #navbar>ul li{
      display: inline;
      padding: 3px;
      text-decoration: none;
      color: black;
  
    }
  
  }
  
  #welcome-section{
    width: 100%;
    height: 100vh;
    background-color: 023047;
    margin-top:0;
    padding-top:60px;
    border: 0;
    margin-bottom: 0;
  
  }
  
  #welcome-section h1{
    width: 100%;
    height:vh;
    margin-top: 0px;
    padding-top:  20%;
    padding-left:20%;
    padding-right:20%;
    padding-bottom: 0%;
    margin-bottom: 1%;
    background-color: 023047;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Raleway,sans-serif;
    font-size: 60px;
    
  }
  
  #welcome-section h2{
    width: 100%;
    margin-top: 0;
    padding-top: 0%;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 15%;
    margin-bottom: 0;
    background-color: 023047;
    display: flex;
    justify-content: center;
    align-items: center;
    color:e63946;
    font-family:Poppins,sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 200;
  
    
  }
  
  #projects{
    background-color: fb8500;
    margin-top: 0;
    padding:40px;
  }
  
  .proj-header{
    margin-top:0;
    padding-top:20px;
    padding-bottom: 30px;
    margin:0 auto;
    font-family:Raleway,sans-serif;
    font-size:42px;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    
  }
  
  .project-grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  
  }
  
  .project-tile img{
    width:350px;
    height: 350px;
    margin: 10px;
  
  }
  
  .project-tile p{
    width:300px;
    height:30px;
    background-color: fb8500;
    color: black;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    
  }
  
  .project-tile  a{ 
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: black;
  }
  
  
  
  
  @media only screen and (max-width:620px){
  
    .project-grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
  
  }
  
  .project-tile img{
    width:300px;
    height: 350px;
    margin: 10px;
  
  }
  
  .project-tile p{
    width:300px;
    height:30px;
    color: black;
    text-align: center;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-weight: 400;
    
  }
  
  .project-tile>a>p a{ text-decoration: none;
  }
  
  }
  
  #contact{
    background-color: 023047;
    margin-top: 0;
    padding-top: 0;
    color: white;
  }
  
  .contact-header{
    color: white;
    font-family: Raleway,sans-serif;
    font-size: 60;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
  
  }
  
  .contact-subheader{
    color:e63946;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top:0;
    padding-top: 0px;
  }
  
  .social-icons a{
    color: #F0F0F0;
    align-items: center;
    justify-content: center;
    font-family: Poppins,sans-serif;
    font-size: 24px;
    margin: 20px;
    text-decoration: none;
  }
  
  .social-icons{
    
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 40px 150px 40px;
    text-decoration: none;
  
  
  }
  
  #contact hr{
    width: 100%;
    height: 2px;
    color: e63946;
    background-color: e63946;
    border: 0;
    margin-top: 80px;
    margin-right: 0;
    margin-left: 0;
  
  }
  
  @media only screen and (max-width:620px){
  
    .social-icons{
    
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 40px 150px 40px;
    text-decoration: none;
  
  }
  
  .social-icons a{
    color: #F0F0F0;
    align-items: center;
    justify-content: center;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
  }
  
  .contact-subheader{
    color:e63946;
    font-family: Poppins,sans-serif;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top:15px;
    padding-top: 0px;
  }
  
  #contact hr{
    margin-top: 60px;
  }
  
  
  
  }
  
  
  
  
  
    
  